.userExperience {
  border: 1px solid #d5d5d9;
  border-radius: 12px;
  padding: 20px 24px;
  margin-bottom: 20px;
}

.userExperience-wrapper {
  margin: 0 auto;
}

.exp {
  width: 100%;
  height: 6.5px;
  margin-top: 10px;
  border-radius: 20px;
  background: #d9d9d9;
}

.exp-fill {
  height: 100%;
  width: 10%;
  border-radius: 20px;
  background: #5f52ff;
}
.exp-point {
  font-size: 16px;
  font-weight: 600;
  color: #9797a0;
  margin-top: 20px;
}
.exp-point span:nth-child(1) {
  color: #000;
}