.header {
  padding: 55px 0;
  border-bottom: 1px solid #eaeaec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav > a {
  margin-right: 46.67px;
  opacity: 0.3;
}
.nav > a.active {
  opacity: 1;
}

.nav > a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.nav > a > img {
  width: 28px;
}

.user {
  display: flex;
  align-items: center;
  gap: 19px;
}

.user-name {
  font-size: 24px;
  font-weight: 400;
}
.user-name > button {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
}

.user > button {
  background: #5f52ff;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
